$blue-color: #94e7ea;
$blue-dark-color: #005a70;
$grey-background-color: #fefefe;
$grey-dark-background-color: #f5f5f5;
$primary-button-color: #003057;
$secondary-button-color: #9e007e;
$text-color: #333;
$border-color: #ddd;
